* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* Common */
:root {
    --primary-color: #ff5b2e;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}
/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
    padding: 8px 18px;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    column-gap: 120px;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    right: -43px;
    top: 16px;
}

.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background: #faa7ad;
    align-self: flex-end; /* can duoi hinh anh */
    border-color: #fde0e2;
}

.hero__list {
    width: 250px;
    height: 156px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    padding: 18px 14px;
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item {
    display: flex;
}

.hero-list-item:last-child {
    margin-bottom: 18px;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__skeleton:last-child {
    width: 39px;
}

.hero-list-item__separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 999px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-list-item__thumb--bottom {
    background: #c6e2fa;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    margin-top: 24px;
    font-size: 1.6rem;
    max-width: 391px;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    width: 189px;
    font-size: 1.6rem;
}

.hero__cta-link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-decoration-line: underline;
    color: #000958;
}
