* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* Common */
:root {
    --primary-color: #ff5b2e;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.pricing-item-active {
    box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
}
/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
    padding: 8px 18px;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    column-gap: 120px;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    right: -43px;
    top: 16px;
}

.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background: #faa7ad;
    align-self: flex-end; /* can duoi hinh anh */
    border-color: #fde0e2;
}

.hero__list {
    width: 250px;
    height: 156px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    padding: 18px 14px;
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item {
    display: flex;
}

.hero-list-item:last-child {
    margin-bottom: 18px;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__skeleton:last-child {
    width: 39px;
}

.hero-list-item__separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 999px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-list-item__thumb--bottom {
    background: #c6e2fa;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    margin-top: 24px;
    font-size: 1.6rem;
    max-width: 391px;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    width: 189px;
    font-size: 1.6rem;
}

.hero__cta-link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-decoration-line: underline;
    color: #000958;
}

/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    gap: 36px;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.about__check-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;

    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../img/check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__cart {
    width: 136px;
    position: absolute;
    top: 165px;
    left: 0;
    background: #5bd6e2;
    padding: 30px 26px;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
}

.about__cart-title {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #ffffff;
}

.about__cart-desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}

.about__cart-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}
.about__img-wrap {
    position: relative;
    margin-left: auto;
    width: 494px;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
    border-radius: 16px;
    height: 336px;
    z-index: -1;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}
.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}
.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}
.about__decor-img:nth-child(6) {
    bottom: -40px;
    right: -23px;
}
.about__decor-img:nth-child(7) {
    bottom: -47px;
    right: -32px;
}
.about__decor-img:nth-child(8) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    display: inline-flex;
    position: relative;
    column-gap: 56px;
}

.tab__list::after,
.tab__item-active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #ff5b2e;
    opacity: 0.07;
    border-radius: 1px;
}

.tab__item-active::after {
    opacity: 1;
    width: 95px;
}

.tab__item {
    position: relative;
    display: flex;
    padding-bottom: 10px;
    cursor: pointer;
    align-items: center;
    column-gap: 12px;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.tab__content-item-active {
    display: block;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 36px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
    padding-bottom: 5px;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}

/* Service */
.service {
    margin-top: 180px;
    background: #fff6ed;
    padding: 68px 0 100px;
}

.service__top {
    text-align: center;
}

.service__desc {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
    margin-bottom: 15px;
}

.service__body {
    display: grid;
    margin-top: 70px;
    column-gap: 65px;
    grid-template-columns: auto 1fr auto;
}

.service__item {
    width: 294px;
    padding: 30px 22px 30px 28px;
    background: #ffffff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.service__item + .service__item {
    margin-top: 24px;
}

.service__item-heading {
    font-weight: 600;
    position: relative;
    padding-left: 12px;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.service__item-heading::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);
}

.service__item-desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71;
    width: 100%;
    color: #656689;
}

.service__item-more {
    margin-top: 24px;
    display: inline-flex;
    align-items: center;

    font-family: "Sora";
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
}

.service__item-more::after {
    content: url(../img/ArrowUpRight.svg);
    margin-left: 5px;
    margin-top: 2px;
}

.service__media {
    margin-top: 18px;
    position: relative;
}

.service__img {
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}

.service__media::after {
    position: absolute;
    content: "";
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 350px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}

.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta {
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
    font-weight: 500;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__heading {
    margin-top: 15px;
}

.staff__list {
    display: grid;
    column-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 45px;
}

.staff-item {
    text-align: center;
}

.staff-item:nth-child(1) .staff__item-img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff__item-img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(2) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff__item-img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(3) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(4) .staff__item-img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(4) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(even) .staff__item-img-wrap::after {
    background-position: 0 19px;
}

/* .staff-item:nth-child(odd) .staff__item-img-wrap::after {
    background-position: 0 170px;
} */

.staff__item-img {
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: inherit;
    display: block;
}

.staff__item-img-wrap {
    margin: 0 16px;
    border-radius: 130px;
    position: relative;
}

.staff__item-img-wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item-title {
    margin-top: 34px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.staff__item-name {
    margin-top: 14px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff__cta {
    min-width: 193px;
    color: #ff5b2e;
    border-color: currentColor;
}

.staff__item-img-wrap::after {
    content: "";
    position: absolute;
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-position: bottom;
    background-size: 100%;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch-label {
    width: 276px;
    height: 56px;
    position: relative;
    border: 1px solid rgb(255, 91, 46, 0.6);
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    user-select: none;
    cursor: pointer;
}

.pricing__switch-value {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    background: #ff5b2e;
    border-radius: 31px;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    left: 0;
    top: 0;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(1),
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2) {
    color: #ff5b2e;
}

.pricing__switch-inner {
    position: relative;
}

.pricing-sale-off {
    position: absolute;
    top: -10px;
    left: 300px;
    width: 86.61px;
    height: 36.8px;
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 44px;
    padding: 0 88px;
}

.pricing-item {
    background: #ffffff;
    border-radius: 20px;
    padding: 30px 28px 43px;
}

.pricing-item__type {
    font-size: 1.2rem;
    line-height: 1;
    color: #ff5b2e;
}

.pricing-item__heading {
    margin-top: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #3f4065;
}

.pricing-item__price {
    font-family: "Sora", sans-serif;
    margin-top: 24px;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.03;
    color: #000958;
}

.pricing__btn {
    --height: 44px;
    margin-top: 22px;
    width: 100%;
    color: rgb(255, 91, 46, 0.6);
    border: 1px solid rgb(255, 91, 46, 0.6);
    background: transparent;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.pricing-item__item::before {
    content: url(../img/pricing-decor.svg);
    margin-right: 14px;
}

/* Review */
.review {
    padding: 104px 0;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    border: 1.5px solid #ffd1c4;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    color: #ff5b2e;
}

.review__control:hover {
    color: #fff;
    background: #ff5b2e;
    border-color: #ff5b2e;
    cursor: pointer;
}

.review__control:nth-of-type(2) {
    margin-left: auto;
}

.review__list {
    display: flex;
}

.review__content {
    overflow: hidden;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}

.review-item__media {
    width: 274px;
    height: auto;
    position: relative;
    flex-shrink: 0;
    border-radius: 137px;
    margin-top: -52px;
}

.review-item__media::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 82%;
    background: #ffda54;
    border-radius: inherit;
}

.review-item__content {
    margin-top: 28px;
}

.review-item__img {
    width: 100%;
    border-radius: inherit;
    position: relative;
    z-index: 1;
    display: block;
}

.review-item__quote {
    margin-top: 24px;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #000000;
    width: 553px;
}

.review-item__author {
    margin-top: 34px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #282828;
    display: flex;
    align-items: center;
}

.review-item__author::before {
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 1px;
    display: inline-block;
    margin-right: 8px;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    column-gap: 8px;
    justify-content: center;
}

.review__dot {
    width: 8px;
    height: 8px;
    border: 1px solid #ff5b2e;
    border-radius: 4px;
}

.review__dot:hover {
    background: #ff5b2e;
    cursor: pointer;
}

.review__dot-active {
    width: 24px;
    height: 8px;
    background: #ff5b2e;
    border-radius: 4px;
}

/* Blog */

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section__right {
    width: 350px;
    margin-right: 73px;
}

.blog__cta {
    margin-top: 24px;
    min-width: 182px;
    color: #ff5b2e;
    border: 1px solid #ff5b2e;
    font-weight: 500;
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 48px;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}

.blog-item__img-wrap {
    background: #90ccff;
    border-radius: 24px;
    padding: 24px 0 0 36px;
}

.blog-item__img {
    width: 100%;
    height: 296px;
    object-fit: cover;
    margin-top: 25px;
    display: block;
}

.blog-item__time {
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    line-height: 1.21;
    color: #ffffff;
}

.blog-item__info {
    margin-top: 28px;
    padding-right: 10px;
}

.blog-item__title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.55;
    color: #000958;
}

.blog-item__desc {
    margin-top: 16px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

/* Footer */
.footer {
    margin-top: 131px;
    background: #fff6ed;
}

.footer__inner {
    display: flex;
}

.footer__left {
    padding: 114px 0 148px;
}

.search-form {
    margin-top: 35px;
    width: 268px;
    height: 46px;
    background: #ffffff;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 68px;
}

.search-form__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 0 22px;
}

.search-form__submit {
    width: 46px;
    height: 46px;
    background: #ff5b2e;
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    margin-right: -1px;
}

.search-form__submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

.footer__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.11;
    color: #000958;
}

.social-list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
}

.social-item:hover {
    opacity: 0.8;
}
