* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* Common */
:root {
    --primary-color: #ff5b2e;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
    padding: 8px 18px;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    column-gap: 120px;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    right: -43px;
    top: 16px;
}

.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background: #faa7ad;
    align-self: flex-end; /* can duoi hinh anh */
    border-color: #fde0e2;
}

.hero__list {
    width: 250px;
    height: 156px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    padding: 18px 14px;
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item {
    display: flex;
}

.hero-list-item:last-child {
    margin-bottom: 18px;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__skeleton:last-child {
    width: 39px;
}

.hero-list-item__separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 999px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-list-item__thumb--bottom {
    background: #c6e2fa;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    margin-top: 24px;
    font-size: 1.6rem;
    max-width: 391px;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    width: 189px;
    font-size: 1.6rem;
}

.hero__cta-link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-decoration-line: underline;
    color: #000958;
}

/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    gap: 36px;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.about__check-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;

    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../img/check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__cart {
    width: 136px;
    position: absolute;
    top: 165px;
    left: 0;
    background: #5bd6e2;
    padding: 30px 26px;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
}

.about__cart-title {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #ffffff;
}

.about__cart-desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}

.about__cart-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}
.about__img-wrap {
    position: relative;
    margin-left: auto;
    width: 494px;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
    border-radius: 16px;
    height: 336px;
    z-index: -1;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}
.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}
.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}
.about__decor-img:nth-child(6) {
    bottom: -40px;
    right: -23px;
}
.about__decor-img:nth-child(7) {
    bottom: -47px;
    right: -32px;
}
.about__decor-img:nth-child(8) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    display: flex;
    position: relative;
    column-gap: 56px;
}

.tab__list::after,
.tab__item-active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #ff5b2e;
    opacity: 0.07;
    border-radius: 1px;
}

.tab__item-active::after {
    opacity: 1;
    width: 95px;
}

.tab__item {
    position: relative;
    display: flex;
    padding-bottom: 10px;
    cursor: pointer;
    align-items: center;
    column-gap: 12px;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.tab__content-item-active {
    display: block;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 36px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
    padding-bottom: 5px;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}
